/* for intellisense */
@import "tailwindcss";

/* Shared Styles */
.noto-serif-normal {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}
.inter-normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}
.container {
  max-width: 1140px;
  margin: 0 auto;
}
/* End of Shared Styles */

/* Navbar Styles */

/* End ofNavbar Styles */
